---
layout: default
title: Home
cover: 'assets/images/rough-horn-2146181.jpg'
about: 'about.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }} ">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                {% if page.about %} <a href='{{page.about | relative_url}}'> About me </a> {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">
	<article class="index">
		{% assign documents = site.wiki | sort: 'updated' | reverse %}
		{% for document in documents limit : 5 %}
		<section class="post">
			<header class="post-header">
				<h2 class="post-title"><a href="{{ document.url | relative_url }}">{{ document.title }}</a></h2>
			</header>
			<section class="post-excerpt">
				{{ document.content | strip_html | truncate: 100 }} <a class="read-more" href="{{ document.url | relative_url }}">&raquo;</a>
			</section>
			<footer class="post-meta">
				{% if site.author %}
					<img class="author-thumb" src="{{'/assets/images/profile.png' | relative_url}}" alt="Author's profile picture" nopin="nopin" />
					{{ site.author }}
				{% endif %}
				{% if document.categories.size > 0 %} 
					{{ document.categories | array_to_sentence_string | prepend: 'on ' }} 
				{% endif %}
				<time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
					{{ document.date | date_to_string }}
				</time> 
			</footer>
		</section>
		{% endfor %}
		<footer>
			<a class="read-more" href="{{ site.baseurl | relative_url }}/wiki-list"> 전체 문서 리스트 보기 ({{ site.wiki | size | minus : 1 }} 항목) >> </a>
		</footer>
	</article>
</main>
