---
layout: default
---

<header class="main-header post-head {% if page.cover %}"
    style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{'/' | relative_url }}">Home</a>
		{% include dropdown.html %}
    </nav>
</header>


<main id="content" class="content" role="main">
<article class="index">
{% assign wikis = site.wikis | sort: 'updated' | where: "layout", "wiki" | where: "public", "true" | reverse %}
{% for wiki in wikis %}
<section class="post">
	<header class="post-header">
		<h2 class="post-title"><a href="{{ wiki.url | relative_url }}">{{ wiki.title }}</a></h2>
	</header>
	<section class="post-excerpt">
		{{ wiki.content | strip_html | truncate: 100 }} <a class="read-more" href="{{ wiki.url | relative_url }}">&raquo;</a>
	</section>
	<footer class="post-meta">
		{% if site.author %}
			<img class="author-thumb" src="{{'/assets/images/profile.png' | relative_url}}" alt="Author's profile picture" nopin="nopin" />
			{{ site.author }}
		{% endif %}
		{% if wiki.categories.size > 0 %} 
			{{ wik.categories | array_to_sentence_string | prepend: 'on ' }} 
		{% endif %}
		<time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
			{{ wiki.updated | date: "%Y.%m.%d" }}
		</time> 
	</footer>
</section>
</article>
{% endfor %}
</main>
