<article class="px-1 mt-5">
  <h2 class="dynamic-title">
    이력
  </h2>
  <div class="content">
    <div id="archives" class="pl-xl-3">
      <time class="year lead d-block">2025</time>
      <ul class="list-unstyled">
        <li>
          <span class="date day">22</span>
          <span class="date month small text-muted ms-1">Feb</span>
          <a href="/posts/peim/2025-02-22-vol5-software-engineering/">PEIM Vol5. Software Engineering</a>
        </li>
        <li>
          <span class="date day">21</span>
          <span class="date month small text-muted ms-1">Feb</span>
          <a href="/posts/2025-02-21-blog-history/">Github 블로그 사용 일지</a>
        </li>
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/tableau/2021-10-05-tableau-trusted-ticket/">Tableau Trust Ticket 발급받기</a>
        </li>
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/tableau/2021-10-01-tableau-chrome80-issue/">Tableau Chrome 80 issue</a>
        </li>
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/diary/2025-01-01-diary/">2025 메모</a>
        </li>
      </ul>
      <time class="year lead d-block">2024</time>
      <ul class="list-unstyled">
        <li>
          <span class="date day">31</span>
          <span class="date month small text-muted ms-1">Dec</span>
          <a href="/posts/evaluation/2024-12-31-evaluation/">2024 평가</a>
        </li>
        <li>
          <span class="date day">07</span>
          <span class="date month small text-muted ms-1">Nov</span>
          <a href="/posts/cpp/2024-11-07-charint-stringint/">c++ 에서 char, string, int 변환</a>
        </li>
        <li>
          <span class="date day">20</span>
          <span class="date month small text-muted ms-1">Oct</span>
          <a href="/posts/cpp/2024-10-20-google-style-guide/">Google c++ style guide</a>
        </li>
        <li>
          <span class="date day">07</span>
          <span class="date month small text-muted ms-1">Oct</span>
          <a href="/posts/cpp/2024-10-07-split-cpp-string/">c++ 문자열을 구분자로 분리하기</a>
        </li>
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/diary/2024-01-01-diary/">2024 메모</a>
        </li>
      </ul>
      <time class="year lead d-block">2023</time>
      <ul class="list-unstyled">
        <li>
          <span class="date day">31</span>
          <span class="date month small text-muted ms-1">Dec</span>
          <a href="/posts/evaluation/2023-12-31-evaluation/">2023 평가</a>
        </li>
        <li>
          <span class="date day">20</span>
          <span class="date month small text-muted ms-1">Apr</span>
          <a href="/posts/cpp/2024-10-22-cpplint-clangformat/">Cpplint와 ClangFormat을 사용한 Google 스타일 코드 작성</a>
        </li>
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/diary/2023-01-01-diary/">2023 메모</a>
        </li>
      </ul>
      <time class="year lead d-block">2022</time>
      <ul class="list-unstyled">
        <li>

          <span class="date day">31</span>
          <span class="date month small text-muted ms-1">Dec</span>
          <a href="/posts/evaluation/2022-12-31-evaluation/">2022 평가</a>
        </li>


        <li>

          <span class="date day">18</span>
          <span class="date month small text-muted ms-1">Nov</span>
          <a href="/posts/css/2022-11-18-mui-memo/">Mui 메모</a>
        </li>


        <li>

          <span class="date day">17</span>
          <span class="date month small text-muted ms-1">Jul</span>
          <a href="/posts/cpp/2022-07-17-c-complile-extension-err/">c++ 컴파일시 extension 에러나는 경우</a>
        </li>


        <li>

          <span class="date day">18</span>
          <span class="date month small text-muted ms-1">Mar</span>
          <a href="/posts/css/2022-03-18-css-variable/">CSS 변수 사용하기</a>
        </li>
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/peim/2025-02-22-vol8-database/">PEIM Vol8. Database</a>
        </li>
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/peim/2025-02-15-vol3-network/">PEIM Vol3. Network</a>
        </li>
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/peim/2025-02-15-vol2-operating-system/">PEIM Vol2. OS (Operating System)</a>
        </li>
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/diary/2022-01-01-diary/">2022 메모</a>
        </li>
      </ul>
      <time class="year lead d-block">2021</time>
      <ul class="list-unstyled">
        <li>
          <span class="date day">01</span>
          <span class="date month small text-muted ms-1">Jan</span>
          <a href="/posts/diary/2021-01-01-diary/">2021 메모</a>
        </li>
      </ul>
      <time class="year lead d-block">2013</time>
      <ul class="list-unstyled">
        <li>
          <span class="date day">3</span>
          <span class="date month small text-muted ms-1">Aug</span>
          <a href="/posts/chirpy/2019-08-08-text-and-typography/">인하대 통계학과 졸업</a>
        </li>
      </ul>
    </div>
  </div>
</article>
