<!--
  The Favicons for Web, Android, Microsoft, and iOS (iPhone and iPad) Apps
  Adapted from the blog's sleepy tuxedo cat avatar
-->

{% capture favicon_path %}{{ '/assets/img/favicons' | relative_url }}{% endcapture %}

<link rel="icon" type="image/png" href="{{ favicon_path }}/favicon-96x96.png?v=cat-face-1" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="{{ favicon_path }}/favicon.svg?v=cat-face-1">
<link rel="shortcut icon" href="{{ favicon_path }}/favicon.ico?v=cat-face-1">
<link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_path }}/apple-touch-icon.png?v=cat-face-1">
{% if site.pwa.enabled %}
  <link rel="manifest" href="{{ favicon_path }}/site.webmanifest?v=cat-face-1">
{% endif %}
