.nav-btn-wrapper {
	display: flex;
	justify-content: end;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;

	&:hover {
		.dropdown-content {display: block;}
		.dropdown-btn {
			color: #222;
			border-color: #fff;
			background: #fff;
			transition: all 0.1s ease;
		}
	}

	.dropdown-btn, .dropdown-content a {
		height: 38px;
		padding: 0 20px;
		color: #9EABB3;
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		line-height: 35px;
		white-space: nowrap;
		background: rgba(0,0,0,0.1);
		transition: all ease 0.3s;
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		color: #fff;
	}

	.dropdown-btn, .dropdown-content {
		border: transparent 1px solid;
		border-radius: 3px;
		border-color: rgba(255,255,255,0.6);
		width: 130px;
	}
	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		position: absolute;
		display: none;
		top: 38px;
		box-sizing: border-box;

		a {
			display: block;
			&:hover {
				background-color: #ddd;
			}
		}
	}

}

.dropdown.subpath {
	.dropdown-btn, .dropdown-content {
		background-color: transparent;
		color: #9EABB3;
	}

	&:hover {
		.dropdown-btn {
			border: 1px solid #bfc8cd;
			color: #9EABB3;
			transition: all 0.1s ease;
		}
	}

	.dropdown-content {
		border: 1px solid #bfc8cd;
		border-top: none;
	}

	.dropdown-content a {
		background: transparent;
		color: #9EABB3;
		&:hover {
			background: #9EABB3;
			color: white;
		}
	}
}
