.index {
	> footer {
		display: flex;
		justify-content: center;
		a {
			color: grey;
			font-size: 1.2em;
		}
	}
}

.page-description a {
	color: rgba(255,255,255,0.8);
}

.main-header {
	overflow: visible !important;
}
