@media (min-width: 1700px) {
	ul#markdown-toc {
		position: fixed;
		top: 0;
		bottom: 0;
		right: calc(55vw + 410px);
		width: 380px;
		background-color: white;
		z-index: 9999;
		overflow-y: auto;
		overflow-x: hidden;
		line-height: 1.5;
		margin-top: calc(100px + 1em + 4rem);
		height: fit-content;
		max-height: 75vh;
	}
}

#markdown-toc {
	font-size: 0.8em;
	border: 1px solid lightgray;
	background-color: #FFFFFF;
	line-height: 1.5;
	max-height: 20vh;
	overflow-y: auto;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	padding-top: 1.2em;
	padding-bottom: 1.2rem;
}
