.post {
	.post-title {
		font-size: 4rem !important;
		&:before {
			content: "\2800";
			padding-right: 1rem;
			color: #845EC2;
		}
	}
	.post-date {
		padding: 0 10px 0 10px;
		margin: 0px;
		border: none;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			border-left: #d5dbde 1px solid; 
		}
	}
	.post-meta {
		text-align: right;
		margin: 1.5rem 0 1.5rem 0;
	}

	.post-content {
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0.4em;
		}
		h1 {
			font-size: 3.6rem;
			&:before {
				content:"\2801";
				padding-right: 1rem;
				color: #845EC2;
			}
		}

		h2 {
			font-size: 3rem;
			&:before { 
				content:"\2803"; 
				padding-right: 1rem;
				color: #2C73D2;
			}
		}

		h3 {
			font-size: 2.4rem;
			&:before { 
				content:"\2809"; 
				padding-right: 1rem;
				color: #0081CF;
			}
		}

		h4 {
			font-size: 1.8rem;
			&:before {
				content:"\2819"; 
				padding-right: 1rem;
				color: #0089BA;
			}
		}

		h5 {
			font-size: 1.2rem;
			&:before {
				content:"\2811"; 
				padding-right: 1rem;
				color: #008E9B;
			}
		}

		h6 {
			font-size: 1rem;
			&:before {
				content:"\280B"; 
				padding-right: 1rem;
				color: #008F7A;
			}
		}
	}
}
