.post {
	.post-date {
		padding: 0 10px 0 10px;
		margin: 0px;
		border: none;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			border-left: #d5dbde 1px solid; 
		}
	}
	.post-meta {
		margin: 1.75rem 0 3.5rem 0;
	}

	.post-content {
		h1 {
			font-size: 4rem;
			&:before {
				content:"⠁";
				padding-right: 8px;
				color: blueviolet;
			}
		}
		h2 {
			&:before { 
				content:"⠉"; 
				padding-right: 8px;
			}
		}
		h3 {
			&:before { 
				content:"⠋"; 
				padding-right: 8px;
			}
		}
		h4 {
			&:before {
				content:"⠛"; 
				padding-right: 8px;
			}
		}
		h5 {
			&:before {
				content:"⠟"; 
				padding-right: 8px;
			}
		}
		h6 {
			&:before {
				content:"⠿"; 
				padding-right: 8px;
			}
		}
	}
}
