$braille-pattern-font-family: "Segoe UI Symbol, DejaVu Sans Mono, Unifont, sans-serif";

.post {
	padding-bottom: 0;
	.post-title {
		font-size: 4rem !important;
		&:before {
			content: "\2800";
			padding-right: 1rem;
			color: #845EC2;
		}
	}
	.post-date {
		padding: 0 10px 0 10px;
		margin: 0px;
		border: none;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			border-left: #d5dbde 1px solid; 
		}
	}

	.post-meta {
		margin: 1.5rem 0 1.5rem 0;
		display: flex;

		.site-author {
			margin-right: 1rem;
		}
	}


	&.wiki .post-meta {
		text-align: right;
	}

	&.page {
		h1 {
			margin-bottom: 4rem;
		}

		.category-title {
			display: flex;
			a {
				display: flex;
				align-items: baseline;
				white-space: nowrap;
			}
			.date {
				&:hover {
					color: #845EC2;
				}
				margin-left: 1rem;
				font-size: 1.2rem;
				display: flex;
				color: deepskyblue;
			}
		}
	}

	.post-content {
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0.6em;
			margin-bottom: 0.6em;
		}
		h1 {
			font-size: 3.3rem;
			&:before {
				font-family: $braille-pattern-font-family;
				content:"\2801";
				padding-right: 1rem;
				color: #845EC2;
			}
		}

		h2 {
			padding-left: 1rem;
			font-size: 3rem;
			&:before { 
				font-family: $braille-pattern-font-family;
				content:"\2803"; 
				padding-right: 1rem;
				color: #2C73D2;
			}
		}

		h3 {
			padding-left: 1.5rem;
			font-size: 2.4rem;
			&:before { 
				font-family: $braille-pattern-font-family;
				content:"\2809"; 
				padding-right: 1rem;
				color: #0081CF;
			}
		}

		h4 {
			padding-left: 2rem;
			font-size: 1.8rem;
			&:before {
				font-family: $braille-pattern-font-family;
				content:"\2819"; 
				padding-right: 1rem;
				color: #0089BA;
			}
		}

		h5 {
			padding-left: 2.5rem;
			font-size: 1.2rem;
			&:before {
				font-family: $braille-pattern-font-family;
				content:"\2811"; 
				padding-right: 1rem;
				color: #008E9B;
			}
		}

		h6 {
			padding-left: 3rem;
			font-size: 1rem;
			&:before {
				font-family: $braille-pattern-font-family;
				content:"\280B"; 
				padding-right: 1rem;
				color: #008F7A;
			}
		}
	}
}
