---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="content">
      {{ content }}
    </div>

    {% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
    {% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

    <section class="mt-5">
      <h2 class="dynamic-title">
        {{ site.data.locales[lang].about.histories | default: '이력' }}
      </h2>
      <div class="content">
        <div id="archives" class="pl-xl-3">
          {% assign histories = site.data.histories | sort: 'year' | reverse %}
          {% for history in histories %}
            <time class="year lead d-block">{{ history.year }}</time>
            <ul class="list-unstyled">
              {% assign events = history.events | sort: 'date' | reverse %}
              {% for event in events %}
                <li>
                  {% assign ts = event.date | date: '%s' %}
                  <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ event.date | date: '%d' }}</span>
                  <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
                    {{ event.date | date: df_strftime_m }}
                  </span>
                  <span class="event-title">{{ event.title }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    </section>
  {% else %}
    {{ content }}
  {% endif %}
</article>
