---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}

  <!-- 모든 태그를 수집 -->
  {% for wiki in site.wikis %}
      {% for t in wiki.tags %}
          {% unless tags contains t %}
              {% assign tags = tags | push: t %}
          {% endunless %}
      {% endfor %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}

    {% assign tag_count = 0 %}

    {% for wiki in site.wikis %}
      {% if wiki.tags contains t %}
        {% assign tag_count = tag_count | plus: 1 %}
      {% endif %}
    {% endfor %}

    <div>
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted">{{ tag_count }}</span>
      </a>
    </div>
  {% endfor %}
</div>
