---
layout: page
---

{% assign categories = site.wikis | where: "layout", "category" %}
{% for category in categories %}
	<h1> {{ category.title }} </h1>
	{% assign parent_path =  category.url | split: '/' | slice: 0, 3 | join: "/" %}
	{% assign wikis = site.wikis | where: "layout", "wiki"  | where: "public", true %}
	<ul>
	{% for wiki in wikis %}
		{% assign wiki_path =  wiki.url | split: '/' | slice: 0, 3 | join: "/" %}
		{% if wiki_path == parent_path %}
			<li><h3><a href="{{ wiki.url }}">{{ wiki.title }}</a></h3></li>
		{% endif %}
	{% endfor %}
	</ul>
{% endfor %}
